.panel-stable{
    border-color: #E0E0E0;
}

.panel-stable .panel-heading{
    background-color: #E0E0E0;
}

.panel-positive{
    border-color: #3F51B5;
}

.panel-positive .panel-heading{
    background-color: #3F51B5;
}

.panel-calm{
    border-color: #2196F3;
}

.panel-calm .panel-heading{
    background-color: #2196F3;
}

.panel-balanced{
    border-color: #4CAF50;
}

.panel-balanced .panel-heading{
    background-color: #4CAF50;
}

.panel-energized{
    border-color: #FFC107;
}

.panel-energized .panel-heading{
    background-color: #FFC107;
}

.panel-assertive{
    border-color: #F44336;
}

.panel-assertive .panel-heading{
    background-color: #F44336;
}

.panel-royal{
    border-color: #9C27B0;
}

.panel-royal .panel-heading{
    background-color: #9C27B0;
}

.panel-dark{
    border-color: #607D8B;
}

.panel-dark .panel-heading{
    background-color: #607D8B;
}