<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tiles</title>

    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/theme.min.css" rel="stylesheet">
    <link href="styles/index.css" rel="stylesheet">

</head>
<body>
<div ng-app="knowledge" ng-controller="TilesController" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Tiles</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default" ng-repeat="tile in tiles">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <h4>{{tile.title}}</h4>

                    <p ng-if="tile.description">{{tile.description}}</p>
                    <ul class="list-inline tags">
                        <li ng-repeat="tag in tile.tags"><span class="badge">{{tag.name}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Filter content</div>
                <div class="panel-body">
                    <input type="text" class="form-control" ng-model="filter.content" placeholder="Content"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="libs/angular/angular.min.js"></script>

<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="scripts/index.js"></script>
<script src="scripts/tiles/tiles-controller.js"></script>
<script src="scripts/tiles/tiles-service.js"></script>
<script src="scripts/tiles/tiles-data.js"></script>

</body>
</html>