<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tiles</title>

    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/theme.min.css" rel="stylesheet">
    <link href="styles/index.css" rel="stylesheet">

</head>
<body>
<div ng-app="knowledge" ng-controller="TilesController" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Tiles</a>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <input name="search" type="text" class="form-control" ng-model="filter.content"
                           placeholder="Search"/>
                </div>
                <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal"
                        data-target="#newTileModal"><span
                        class="glyphicon glyphicon-plus"></span>&nbsp;New tile
                </button>
            </form>
        </div>

    </nav>

    <div class="alert alert-danger alert-dismissible" style="display: none;" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Couldn't create the tile. Don't forget the <b>title</b>.
    </div>

    <div class="row">
        <div class="col-md-6">
            <tile data="tile" ng-repeat="tile in tiles" ng-if="$even"/>
        </div>
        <div class="col-md-6">
            <tile data="tile" ng-repeat="tile in tiles" ng-if="$odd"/>
        </div>
    </div>

    <div class="modal fade" id="newTileModal" tabindex="-1" role="dialog" aria-labelledby="newTileModal"
         data-backdrop="false">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-plus"></span>&nbsp;New
                        tile</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="newTile.title"
                               placeholder="Enter some title" required>
                    </div>
                    <div class="form-group">
                        <label>Tags</label>
                        <input type="text" class="form-control" ng-model="newTile.tags"
                               placeholder="Tags separated by commas">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="create()">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="libs/angular/angular.min.js"></script>

<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="scripts/index.js"></script>
<script src="scripts/tiles/tiles-controller.js"></script>
<script src="scripts/tiles/tiles-service.js"></script>
<script src="scripts/tiles/tiles-directive.js"></script>
<script src="scripts/tiles/tiles-filters.js"></script>
<script src="scripts/tiles/tiles-data.js"></script>
<script src="scripts/utils/jquery-service.js"></script>

</body>
</html>