<div class="panel panel-info panel-{{tile.color}}" ng-controller="TilesController">
    <div class="panel-heading"><span class="glyphicon glyphicon-{{tile.categoryIcon}}"></span>
        &nbsp;{{tile.category}}
        <ul class="list-inline pull-right">
            <li>
                <a ng-href="{{tile.canLike?'#':''}}" ng-click="like(tile.id)" ng-class="{'disabled': !tile.canLike}">
                    <span class="glyphicon glyphicon-{{tile.likeIcon}}"></span>
                </a>
                &nbsp;{{tile.nLikes}}
            </li>
            <li>
                <a ng-href="{{tile.follow_active?'#':''}}" ng-click="follow(tile.id)" ng-class="{'disabled': !tile.follow_active}">
                    <span class="glyphicon glyphicon-{{tile.followIcon}}"></span>
                </a>
                &nbsp;{{tile.nFollowers}}
            </li>
            <li><span class="glyphicon glyphicon-comment"></span>&nbsp;{{tile.nComments}}</li>
        </ul>
    </div>
    <div class="panel-body">
        <h4>{{tile.title}}</h4>

        <p ng-if="tile.description">{{tile.description}}</p>

        <p ng-if="tile.category == 'Web'"><a href="{{tile.content_link}}" target="_blank"><span class="glyphicon glyphicon-link"></span>&nbsp;Open link</a></p>
        <p ng-if="tile.category == 'Utilisateurs'"><a href="http://google.com/search?q={{tile.title}}" target="_blank"><span class="glyphicon glyphicon-user"></span>&nbsp;Open expert profile</a></p>

        <p class="text-right"><small>by {{tile.expert.name}}</small></p>

        <ul class="list-inline tags">
            <li ng-repeat="tag in tile.tags" title="{{tag.facet}}">
                <span class="badge">
                   <span class="glyphicon glyphicon-{{tag.icon}}"></span>&nbsp;{{tag.name}}
                </span>
            </li>
        </ul>
    </div>
</div>