<div class="panel panel-info panel-{{tile.color}}">
    <div class="panel-heading"><span class="glyphicon glyphicon-{{tile.categoryIcon}}"></span>
        &nbsp;{{tile.category}}
    </div>
    <div class="panel-body">
        <h4>{{tile.title}}</h4>

        <p ng-if="tile.description">{{tile.description}}</p>
        <ul class="list-inline tags">
            <li ng-repeat="tag in tile.tags" title="{{tag.facet}}">
                <span class="badge">
                   <span class="glyphicon glyphicon-{{tag.icon}}"></span>&nbsp;{{tag.name}}
                </span>
            </li>
        </ul>
    </div>
</div>