<div class="panel panel-info panel-{{tile.color}}" ng-controller="TilesController">
    <div class="panel-heading"><span class="glyphicon glyphicon-{{tile.categoryIcon}}"></span>
        &nbsp;{{tile.category}}
        <ul class="list-inline pull-right">
            <li>
                <a ng-href="{{tile.canLike?'#':''}}" ng-click="like(tile.id)" ng-class="{'disabled': !tile.canLike}">
                    <span class="glyphicon glyphicon-{{tile.likeIcon}}"></span>
                </a>
                &nbsp;{{tile.nLikes}}
            </li>
            <li>
                <a ng-href="{{tile.follow_active?'#':''}}" ng-click="follow(tile.id)" ng-class="{'disabled': !tile.follow_active}">
                    <span class="glyphicon glyphicon-{{tile.followIcon}}"></span>
                </a>
                &nbsp;{{tile.nFollowers}}
            </li>
            <li><span class="glyphicon glyphicon-comment"></span>&nbsp;{{tile.nComments}}</li>
        </ul>
    </div>
    <div class="panel-body">
        <h4 ng-bind-html="tile.title"></h4>

        <p ng-if="tile.description" ng-bind-html="tile.description"></p>

        <p ng-if="tile.category == 'Web'"><a href="{{tile.content_link}}" target="_blank"><span class="glyphicon glyphicon-{{tile.categoryIcon}}"></span>&nbsp;Open link</a></p>
        <p ng-if="tile.category == 'Utilisateurs'"><a href="/#/expert/{{tile.expert.name}}"><span class="glyphicon glyphicon-{{tile.categoryIcon}}"></span>&nbsp;Open expert profile</a></p>
        <p ng-if="tile.category == 'Collections'"><a href="/#/collection/{{tile.id}}"><span class="glyphicon glyphicon-{{tile.categoryIcon}}"></span>&nbsp;Open collection</a></p>
        <p ng-if="tile.category == 'Fichiers'"><a
                href="https://docs.google.com/document/d/17L2dZitoL162JXibwyrlqMu8ZK2P5tGa1rA700yJOXI/export?format=pdf&id=17L2dZitoL162JXibwyrlqMu8ZK2P5tGa1rA700yJOXI&token=AC4w5VjefGd4gB3kNj3umUcSl_-3Y6m99A%3A1413557558725"><span
                class="glyphicon glyphicon-{{tile.categoryIcon}}"></span>&nbsp;Download file</a></p>

        <p class="text-right"><small>by {{tile.expert.name}}</small></p>

        <ul class="list-inline tags">
            <li ng-repeat="tag in tile.tags" title="{{tag.facet}}">
                <span class="label label-default">
                   <span class="glyphicon glyphicon-{{tag.icon}}"></span>&nbsp;<span ng-bind-html="tag.name"></span>
                </span>
            </li>
        </ul>
    </div>
</div>